name: Build

on:
  - pull_request
  - push

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - windows-latest
        ocaml-compiler:
          - 5

    runs-on: ${{ matrix.os }}

    steps:
      - name: Windows-specific setup
        if: matrix.os == 'windows-latest'
        run: |
          # Workaround for ppx_expect test failure on Windows
          git config --global core.autocrlf false
          # https://github.com/ocaml/setup-ocaml/issues/815
          echo "SHELLOPTS=igncr" >>"$GITHUB_ENV"

      - uses: actions/checkout@v4

      - name: Setup OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: true

      - name: Install dependencies
        run: opam install . --deps-only

      - name: Copy license files
        shell: bash
        run: |
          mkdir -p dist/sys4lang/licenses
          eval $(opam env)
          cd "$OPAM_SWITCH_PREFIX/doc"
          find -type f -name 'LICENSE*' -print0 | while IFS= read -r -d '' file; do
            echo "$file"
            dest="${GITHUB_WORKSPACE}/dist/sys4lang/licenses/${file}"
            mkdir -p "$(dirname "$dest")"
            cp -- "$file" "$dest"
          done

      - name: Install test dependencies
        run: opam install . --deps-only --with-test

      - name: Build
        run: opam exec -- dune build

      - name: Unit tests
        run: opam exec -- dune runtest

      - name: Smoke tests
        shell: bash
        if: matrix.os == 'windows-latest'
        run: |
          curl -L -o xsystem4-1.0.0.zip https://github.com/nunuhara/xsystem4/releases/download/1.0.0/xsystem4-1.0.0.zip
          unzip xsystem4-1.0.0.zip
          SYS4C=../_build/default/bin/sys4c.exe XSYSTEM4=../xsystem4-1.0.0/xsystem4.exe AIN_FILE=out.ain test/run-tests.sh

      - name: Ocamlformat check
        run: opam exec -- dune build @fmt

      - name: Copy the build artifact
        shell: bash
        run: |
          cp _build/default/bin/*.exe dist/sys4lang/
          cp README.md CHANGELOG.md COPYING dist/sys4lang/

      - name: Copy DLLs
        shell: bash
        if: matrix.os == 'windows-latest'
        run: |
          cp "${CYGWIN_ROOT}/usr/x86_64-w64-mingw32/sys-root/mingw/bin/zlib1.dll" dist/sys4lang/

      - name: Upload the build artifact
        uses: actions/upload-artifact@v4
        with:
          name: sys4lang-${{ matrix.os }}-${{ matrix.ocaml-compiler }}
          path: dist
